body {
	display: grid;
	grid-template-columns: 10% 80% 10%;
	font-family: sans-serif;
}

h1 {
	text-align: center;
}

.main {
	grid-colum: 2 / 3;
	background: lightgrey;
	padding: 20pt;
}

#startImage {
	height: 200pt;
	width: auto;
}